:root {
  --color-light: #ffffff;
  --color-dark: #202020;
  --color-cadet: #82969c;
  --color-cream: #afa8a1;
  --color-textbox: #f4f4f4;
  --color-tip: #918f8e89;
  --color-contrast: #ffffff41;

  /* font sizes */
  --title-xl: 5.5rem;
  --title-lg: 2.6rem;
  --subtitle: 0.9rem;
  --subtitle-sm: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PR";
}

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: var(--color-light);
}

@font-face {
  font-family: "PR";
  src: url("./src/assets/fonts/plainregular.woff2");
}

@font-face {
  font-family: "PL";
  src: url("./src/assets/fonts/plainlight.woff2");
}

@font-face {
  font-family: "SD-RI";
  src: url("./src/assets/fonts/saolsisplayregularItalic.woff2");
}

main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  color: var(--color-light);
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 2vw;
}

.nav-child-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 21rem;
}

.nav-child-1 .logo {
  display: block;
}

.nav-child-1 .search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.nav-child-1 .search img {
  height: 0.9rem;
  margin-top: 3px;
}

.nav-child-1 .search {
  font-size: var(--subtitle);
}

.nav-child-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 21rem;
}

.nav-child-2 .link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav-child-2 .link-container a {
  color: var(--color-light);
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.menu-icon svg {
  height: 100%;
  width: 100%;
}

#section1 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #000;
}

.sect1-container {
  height: 100%;
  width: 100%;
  color: var(--color-light);
  position: absolute;
  z-index: 2;
  background-color: #0000003c;
}

.sect1-container .content {
  width: 76.5%;
  height: 62%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.sect1-container .content .slide-data {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 2rem 0;
}

.sect1-container .content .slide-data .top-element {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1.5rem;
}

.sect1-container .content .slide-data .bottom-element {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.slide-navigate-items {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#section2 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.sect2-container {
  height: 100%;
  width: 100%;
}

.s2_content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.s2_content .products {
  position: relative;
  margin: auto;
  padding-top: 3rem;
  width: 93%;
  max-width: 1000px;
}

.prdcts_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-light);
  padding: 2rem 0 1.5rem 0;
  cursor: grabbing;
  border-bottom: 0.5px solid var(--color-tip);
  margin-top: 2px;
  position: relative;
  /* transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1); */
}

.prdcts_element:hover span {
  color: var(--color-dark);
}

.prdcts_element span {
  font-weight: 100;
  font-size: var(--subtitle);
  color: var(--color-tip);
  transition: all 0.2s ease-out;
}

/* in prdcts-element data attaribute */
.hover-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 16rem;
  width: 12rem;
  height: auto;
  z-index: 9;
  aspect-ratio: 0.9;
  transform-origin: center;
  background: gray;
  object-fit: cover;
  pointer-events: none;
}

.prdcts_element h2 {
  font-size: var(--title-lg);
  font-family: "PL";
  line-height: 1;
}
