/* HEADING SPLITED SPAN'S CLASS */
.title-main {
  overflow: hidden;
  font-size: 5.5rem;
  line-height: 1;
}

.title-main span {
  display: inline-block;
  transition: opacity 0.5s ease;
  font-family: "PL";
}

.title-main-custom span {
  font-family: "SD-RI";
}
/* LINKS LINK SMALL */
.link-sm {
  font-size: 0.9rem;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  font-family: "PL";
}

/* UNDERLINE ANIMATION ON LINKS */
.hover_underline {
  position: relative;
  text-decoration: none;
}

.hover_underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 100px;
  background-color: var(--color-light);
  bottom: -1px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover_underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* BUTTON ANIMATION */
.button-main {
  display: inline-block;
  padding: 24px 24px;
  transition: all 0.2s ease-in;
  background-color: var(--color-light);
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button-main:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: -1;
}

.button-main:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--color-cadet);
  border-radius: 50%;
  display: block;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: -1;
}

.button-main:hover {
  color: #ffffff;
}

.button-main:hover:before {
  top: -35%;
  background-color: var(--color-cadet);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-main:hover:after {
  top: -45%;
  background-color: var(--color-cadet);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* NAVIGATE ICONS HOVER ANIMATION */
.navigate-icons {
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);

  &:hover img {
    filter: invert(1);
  }
}

.navigate-icons img {
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigate-icons::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-light);
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigate-icons:hover {
  color: #fff;
}

.navigate-icons:hover::after {
  bottom: 0;
  border-radius: 0;
}
